body{
  background-image: url("desktop.jpg");
  background-size: 100% 600px;
  background-repeat: no-repeat;
}

.setup{
  height:500px;
  width:auto;
  
}

.mydiv{
  top:10%;
  left:20%;
  position: absolute;
}

#logo-zone {
position: absolute;
top: 70px;
left: 11px;
height: 50px;
width: 50px;
background-color: transparent;
}

.agreement{
  position:absolute;
  background-color: white;
  top:150px;
  left:250px;
  height:200px;
  width:300px; 
  overflow-y: scroll;
  overflow-x:hidden;
  font-size: 12px;
  box-shadow:0px 0px 2px 2px #888 inset;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: justify;
  }


.button {
  width:87px;
  position: absolute;
  font: 15px Arial,sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
  display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0.1em 1em 0.1em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: 2px solid;
  border-color: #00688B #236B8E #236B8E;
  background-color: #eee;
  background-image: -moz-linear-gradient(#eeeeee, #d4d4d4);
  background-image: -webkit-linear-gradient(#eeeeee, #d4d4d4);
  background-image: linear-gradient(#eeeeee, #d4d4d4);
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -webkit-transition: all 100ms;
  transition: all 100ms;
}
.button:hover {
  border-color: #00688B #236B8E #236B8E;
}
.button:active {
  padding: 0.1em 1em 0.1em;
  margin-top: 0.1em;
  border-color: #00688B #236B8E #236B8E;
  background-image: -moz-linear-gradient(#e1e1e1, #eeeeee);
  background-image: -webkit-linear-gradient(#e1e1e1, #eeeeee);
  background-image: linear-gradient(#e1e1e1, #eeeeee);
  -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  -moz-transition: all 10ms;
  -o-transition: all 10ms;
  -webkit-transition: all 10ms;
  transition: all 10ms;
}
