/* CSS Document */

#mazeHolder {
    left:250px;
    position : relative;
    width : 100%;
}

#mazeHolder > canvas {
    position : relative;
    float :left;
}

#controls {
    margin-right:250px;
    width : 100px;
    height : 601px;
    position:absolute;
    background-color: #09C;
}

#controls input.number {
    width : 3.1em;
}
